<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Template</title>
    <style>
        .button  {
            display: flex;
            justify-content: center;
            width:50%;

     }
        .button a {
            width:70%;
            text-align:center;
            border: 2px solid #4CAF50;
            padding: 5px 20px 5px 20px;
            border-radius: 8px;
            text-decoration: none;
        }
        p,a{
          font-size: 1.2em; /* 14px/16=0.875em */
        }
    </style>
</head>
<body>
    <div style="width:80%;margin:auto;padding:1em 2em 2em">
        <div style="font-weight:bold;font-size:1.8em">Weteach</div><br>
        <div style="font-size:1.5em">Xin chào <strong> {{ user.first_name }} </strong></div>
        <p>Đây là mail đặt lại mật khẩu</p>
        <div class="button">
            <a href="{{ domain }}{% url 'check_password_reset' uidb64=uid token=token %}" >Kích hoạt</a>
        </div>
        <p><strong>Lưu ý </strong>chỉ có giá trị trong vòng<strong> 15 </strong>phút </p>
        <p>Sincerely,</p>
        <p>Weteach Team</p>
    </div>
</body>
</html>